

         <header>
 <h1>THEGOIXEHAY.COM</h1>
 <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-md-2 col-sm-2">
                   
                  </div>
                  <div class="col-md-10 col-sm-10">
                     <div class="header_top">
                        <div class="row">
                
                           <div class="col-md-6">
                              <ul class="topmenu">
                                 <li><a routerLink="/product-list">List</a></li>
                                
                              </ul>
                           </div>
                           
                        </div>
                     </div>
                     
            
                  </div>
               </div>
            </div>
         </div>
</header>
<style>
header, footer {
 padding: 1em;
 color: white;
 background-color: black;
 clear: left;
 text-align: center;
}
</style>