
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<form class="w-50 mx-auto mt-3">
   <button routerLink="/admin"  type="button"  class="btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off">
    ADMIN
  </button>

    <div class="form-group">

      <input type="text" name="name" class="form-control"placeholder="Product Name" [(ngModel)]="product.name">
      <br>
      <input type="text" name="price" class="form-control"placeholder="Price" [(ngModel)]="product.price">
      <br>
       <input type="text" name="desc" class="form-control"placeholder="Desc" [(ngModel)]="product.desc">
       <br>
            <input type="text"      
                    class="form-control"      
                    value="{{product.status ? 'In stock' : 'Out stock'}}"
                    readonly
                />
      <br>
                <input type="checkbox" 
                  name="status"
                  class="form-control"
                  [(ngModel)]="product.status"
                  checked
                />
                <br>
        <input type="text" name="img" class="form-control"placeholder="Src" [(ngModel)]="product.img">
    </div>
    <div class="first">
 <button type="submit" class="btn btn-primary" (click)="addProduct()">Submit</button>
    </div>
   
  </form>
