       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 
<app-header></app-header> 
 <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                     <b> Email:Locthph07104@fpt.edu.vn</b>
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                       <b> Phone:  0342044682</b>
                    </div>
                </div>
                <div class="ht-right">
                 
                   
                    
                    <div class="top-social">
                        <a routerLink="#"><i class="fab fa-facebook"></i></a>
                        <a routerLink="#"><i class="fab fa-instagram"></i></a>
                        <a routerLink="#"><i class="ti-linkedin"></i></a>
                        <a routerLink="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
 
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                          <h2><b></b></h2>

                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                          
                         
                        </div>
                    </div>

<form class="w-50 mx-auto mt-3" *ngIf="product">

 
 

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{product.img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <h5 class="card-title">${{product.price}}</h5>
    <p class="card-text">{{product.desc}}</p>
  </div>
</div>
</form>



<app-footer></app-footer> 
