       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 
<app-header></app-header> 

 <div class="one">
  <div class="first">
          <button routerLink="/product-add"  type="button"  class="btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off">
    Create  Product
  </button>
       </div>
      
       
<div class="example">
 
    <div class="container">

        <div class="row">
          <h2></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Desc</th>
                        <th>Status</th>
                        <th>Img</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.name}}</td>
                        <td>${{product.price}}</td>
                        <td>{{product.desc}}</td>
                        <td>{{product.status ? 'In stock': 'Out stock'}}</td>
                        <td><a href="#"><img class="card-img-top" [src]="product.img" alt=""></a></td>
                        <!-- <td><button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button></td> -->
                        <!-- <td><button class="btn btn-primary" routerLink="/product/{{product.id}}">Detail</button></td> -->
                        <td><button class="btn btn-warning" routerLink="/product/edit/{{product.id}}">Edit</button></td>
                        <td><button class="btn btn-warning"(click)="removeItem(product.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
     
</div>
 </div>
<app-footer></app-footer> 
     